<!doctype html>
<html lang="en">
  <head>
  	<title>Leader KTM</title>
	  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<!--<h2 class="heading-section" style="color: blue">Leader KTM</h2>-->
                    <img src="{% static 'photo/LogoLeaderKTM.png' %}" style="width: 300px; height: 100px;" alt="Leader KTM Logo">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<div id="form-message-warning" class="mb-4"></div>
                                    <div class="formbold-input-wrapp formbold-mb-3">
        <label class="formbold-form-label"> <h2 style="text-align: center; color: red">Siz avval ro'yxatdan o'tgansiz !</h2></label>

      </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
 <!-- <script src="{% static 'js/popper.js' %}"></script>-->
 <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script>-->
 <!-- <script src="{% static 'js/jquery.validate.min.js' %}"></script>-->
 <!-- <script src="{% static 'js/main.js' %}"></script>-->

	</body>
</html>

