<!doctype html>
<html lang="en">
  <head>
  	<title>Leader KTM</title>
	  {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
                    <img src="{% static 'photo/LogoLeaderKTM.png' %}" style="width: 300px; height: 100px;" alt="Leader KTM Logo">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									{% if message %}
									  <h3><a style="color: red">{{message}}</a></h3>
									  {% else %}
									<h3 class="mb-4">Ma'lumotlarni to'ldirish</h3>
									{% endif %}
									<div id="form-message-warning" class="mb-4"></div>
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form action="/" method="POST" enctype="multipart/form-data" id="contactForm" name="contactForm"> {% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<label for="region_city" class="formbold-form-label"> Shahar </label>
													<input
													  type="text"
													  name="city"
													  id="region_city"
													  placeholder="Farg'ona shahar"
													  class="formbold-form-input"
													/>
											</div>
											<div>
        <label for="first_name" class="formbold-form-label"> F.I.Sh<a style="color: red">*</a></label>

        <div>
            <input
            type="text"
            name="last_name"
            id="last_name"
            placeholder="Familiya*"
            class="formbold-form-input"
          />

          <input
            type="text"
            name="first_name"
            id="first_name"
            placeholder="Ism*"
            class="formbold-form-input"
          />
        </div>
      </div>
		<div class="col-md-12">
			<label for="phone_number" class="formbold-form-label"> Telefon raqam <a style="color: red">*</a> </label>
        <div>
          <input
            type="text"
            name="phone_number"
            id="phone_number"
            placeholder="90 123 45 67"
            class="formbold-form-input"
          />
        </div>
		</div>

		<div class="col-md-12">
			<label for="dob" class="formbold-form-label"> Tug'ulgan sana </label>
        <input type="date" name="date_of_birth" id="dob" class="formbold-form-input" />
		</div>
		<label for="appeal" class="formbold-form-label"> Qaysi korxona e'loni bo'yicha murojaat qilyapsiz ? </label>
        <input
          type="text"
          name="appeal"
          id="appeal"
          placeholder="..."
          class="formbold-form-input"
        />
        </div>

        <div>
        <label class="formbold-form-label"> Kirmoqchi bo'lgan lavozimni tanlang ? </label>
        <select class="formbold-form-input" name="position" id="occupation1">
<!--          {% for position in positions %}-->
<!--          <option value="{{position.id}}">{{position.name}}</option>-->
<!--          {% endfor %}-->
			<option value="-">Tanlang</option>
			<option value="Oliy">Sotuvchi</option>
			<option value="O'rta maxsus">Operator</option>
			<option value="O'rta maxsus">Haydovchi</option>
			<option value="O'rta maxsus">Yuk tashuvchi (Грузчик)</option>
        </select>
        </div>

		<div>
		<div class="formbold-mb-3">
        <label class="formbold-form-label"> Ma'lumotingiz qanday ? </label>
        <select class="formbold-form-input" name="degree" id="occupation2">
<!--          {% for degree in degrees %}-->
<!--          <option value="{{degree.id}}">{{degree.name}}</option>-->
<!--          {% endfor %}-->
			<option value="-">Tanlang</option>
			<option value="Oliy">Oliy</option>
			<option value="O'rta maxsus">O'rta maxsus</option>
        </select>
      </div>
		</div>

      <div class="formbold-mb-3">
        <label for="address" class="formbold-form-label"> Yashash manzili </label>
        <input
          type="text"
          name="address"
          id="address"
          placeholder="Ko'cha | uy"
          class="formbold-form-input formbold-mb-3"
        />
      </div>

    <div>
        <label class="formbold-form-label"> Rus tilini qanchalik bilasiz ? </label>

        <select class="formbold-form-input" name="language_ru" id="occupation5">
          <option value="-">Tanlang</option>
          <option value="Bilmayman">Bilmayman</option>
          <option value="Tushunaman">Tushunaman</option>
          <option value="Bemalol gaplashaolaman">Bemalol gaplashaolaman</option>
        </select>
    </div>

      <div class="formbold-mb-3">
        <label class="formbold-form-label"> Kompyuterda ishlashni bilasizmi ? </label>
        <select class="formbold-form-input" name="computer_science" id="occupation4">
<!--          {% for j in computer_science %}-->
<!--          <option value="{{j.id}}">{{j.name}}</option>-->
<!--          {% endfor %}-->
				  <option value="-">Tanlang</option>
				  <option value="Ha">Ha</option>
				  <option value="O'rtacha">O'rtacha</option>
				  <option value="Yo'q">Yo'q</option>
        </select>
        </select>
      </div>

      <div class="formbold-mb-3">
        <label for="photo" class="formbold-form-label">
          O'z rasmingizni yuklang (selfi yoki boshqa rasm)
        </label>
        <input
          type="file"
          name="photo"
          id="photo"
          accept="image/*"
          class="formbold-form-input formbold-form-file"
        />
      </div>

					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" value="Yuborish" class="btn btn-primary">
							<div class="submitting"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
</html>
